body {
    background-color: black;
    color: aliceblue;
    font-family: sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: cornflowerblue;
    display: flex;
}

.item{
    width: 100px;
    height: 100px;
    background-color: crimson;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 32px;
    border: 1px solid white;
}