body {
    background-color: black;
    color: aliceblue;
    font-family: sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 

Gap -> Espacio entre los elementos.

Recibe valores en números con unidades relativas o absolutas.

Esta propiedad se pasa al contenedor.

*/

.container{
    width: 500px;
    background-color: cornflowerblue;
    display: flex;
    /* gap: 24px; */ /* Espacio entre los elementos */
    /* gap: 3rem; */ /* Unidades absolutas: px o relativas: em o rem */
    column-gap: 16px; /* Espacios entre los elementos en el eje vertical */
    flex-wrap: wrap;
    row-gap: 32px; /* Espacio entre los elemetnos en la horizontal */
    gap: 4px 32px; /* Cuando hay 2 valores, el primero es para el espacio horizontal y el segundo con el espacio vertical */
}

.item{
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid white;
    background-color: crimson;
}